{% extends "base.html" %}

{% block title %}Categoría: {{ categoria.nombre }}{% endblock %}

{% block content %}
    <div>
        <h2>Libros de {{ categoria.nombre }}</h2>
        <ul>
            {% for libro in libros %}
                <li>
                    <a href="{% url 'libros:detalle_libro' libro.id %}">{{ libro.titulo }}</a>
                    - {{ libro.anio_publicacion }}
                    {% if libro.disponible %}
                        (Disponible)
                    {% else %}
                        (Prestado)
                    {% endif %}
                </li>
            {% empty %}
                <li>No hay libros en esta categoría.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}