<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Biblioteca{% endblock %}</title>
</head>
<body>
    <h1>Biblioteca Comunitaria</h1>
    <p>
        <a href="{% url 'libros:inicio' %}">Inicio</a> |
        <a href="{% url 'prestamos:lista_lectores' %}">Lectores</a> |
        <a href="{% url 'prestamos:prestamos_por_estado' 'activo' %}">Prestamos activos</a> |
        <a href="/admin/">Admin</a>
    </p>
    <hr>
    {% block content %}{% endblock %}
    <hr>
    <p>Proyecto Django - Biblioteca Comunitaria</p>
</body>
</html>
